/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Semibold.ttf");
}

@font-face {
    font-family: 'Merriweather';
    src: url("../fonts/Merriweather-Black.ttf");
}

/* Общие стили */
body {
    background-color: #191411;
    font-family: 'Gilroy', sans-serif;
    color: white;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px; /* Добавляем отступы для маленьких экранов */
}

.button {
    width: 200px;
    height: 52px;
    padding: 19px;
    border-radius: 8px;
    background: linear-gradient(86deg, #DA8023 0%, #E2B438 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    color: #191411;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}

.button:hover {
    background: linear-gradient(96deg, #ac6115 0%, #9e7a19 100%);
}

.common-title {
    text-align: center;
    font-family: "Merriweather", sans-serif;
    text-transform: uppercase;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 30px;
}

/* Стили для секции Tokenomics */
.tokenomics {
    background-image: url("../images/burgers_bg.png");
    background-position: top center;
    background-size: cover;
    padding: 50px 0;
}

.tokenomics-list {
    display: flex;
    flex-direction: column; /* Вертикальная ориентация */
    align-items: center;
    gap: 20px;
    text-align: center;
}

.tokenomics-item {
    list-style: none;
    font-size: 20px;
    margin-bottom: 15px;
    padding: 0 10px;
}

.tokenomics img {
    max-width: 90%; /* Ограничиваем размер на мобильных */
    height: auto;
    margin: 10px auto;
    display: block;
    border-radius: 15px;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    .common-title {
        font-size: 48px;
    }

    .tokenomics-list {
        gap: 15px;
        font-size: 18px;
    }

    .tokenomics img {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .common-title {
        font-size: 36px;
    }

    .tokenomics-item {
        font-size: 16px;
    }

    .tokenomics img {
        max-width: 100%;
    }
}
